bittensor==6.9.3
torch
python-bitcoinrpc
bitcoin
base58
pycryptodome
docker
setuptools
neo4j
python-dotenv
sqlalchemy
psycopg2-binary
requests
urllib3
web3
PyYAML
asyncio
scikit-learn
fastapi
uvicorn
langchain
langchain-openai
psycopg2-binary
loguru