starlette==0.37.2
pydantic==2.9.2
rich==13.9.2
pytest==8.3.3
torch==2.4.1
numpy==2.0.1
setuptools==70.0.0
pytest-cov==5.0.0
pandas==2.2.3
multi_time_series_connectedness==0.1.7
tensorflow==2.18.0rc2
yfinance==0.2.44
